{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block headScripts %}
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('build/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
{% endblock %}

{% block bodyContent %}
    <div id="root"></div>
{% endblock %}

{% block bodyScripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
