@import "../../mixins/box-shadow";
@import "../../mixins/flexbox";

.articles-list {
  padding: 0 15px;
}

.article-item {
  @extend %flexbox;
  @include box-shadow(5px, 5px, 15px, 0, rgba(219, 219, 219, 1));
  border: 1px solid #eef3f7;
  border-radius: 10px;
  cursor: pointer;
  height: 140px;
  margin-bottom: 15px;
  overflow: hidden;

  .image {
    width: 140px;

    img {
      width: 100%;
    }
  }

  .details {
    @include flex(1);
    @include flex-direction(column);
    @include align-items(flex-start);
    padding: 10px;

    .title {
      font-size: 12px;
      font-weight: 600;
    }

    .date {
      @include flex(1);
      color: #aaaaaa;
      font-size: 10px;
    }

    .category {
      color: #aaaaaa;
      font-size: 10px;
      padding: 5px 8px;
      display: inline-block;
    }
  }
}

.article,
.report {
  font-family: 'Lato-Light', serif;
  h1.title {
    color: #3b3b3b;
    font-family: 'Kelson-Regular', serif;
    font-size: 16px;
    font-weight: 600;
    padding: 0 15px;
  }

  .date {
    color: #d9d9dc;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 0 15px;
  }

  .video,
  .image > img {
    margin-bottom: 15px;
    width: 100%;
  }

  .content {
    color: #010101;
    margin-bottom: 55px;
    padding: 0 15px;

    & > p:first-child {
      font-weight: 600;
    }

    h1, h2, h3, h4 {
      color: #90a850;
      font-family: 'Kelson-Regular', serif;
      font-size: 16px;
      font-weight: 100;
    }

    p, ul, li {
      font-size: 14px;
        margin-bottom: 0;
    }

    img {
      clear: both;
      display: block;
      height: auto;
      margin-bottom: 10px;
      width: 100%;
    }

  }
}

ul.category-list {
  list-style: none;
  margin: 0 15px;
  padding: 0;

  li.item {
    -webkit-box-shadow: 5px 5px 15px 0 #dbdbdb;
    -moz-box-shadow: 5px 5px 15px 0 #dbdbdb;
    box-shadow: 5px 5px 15px 0 #dbdbdb;
    border: 1px solid #eef3f7;
    border-radius: 10px;
    cursor: pointer;
    padding: 25px;
    margin-bottom: 15px;
    overflow: hidden;
    display: block;
  }
}

.app-footer {
  user-select: none;
  .back {
    cursor: pointer;
  }
}