//noinspection SassScssResolvedByNameOnly
.navigation-menu--main span{
  color: $primaryColor;
  border-color: $primaryColor;
}

//noinspection SassScssResolvedByNameOnly
.navigation-menu--sub span{
  background-color: $primaryColor;
  border-color: $primaryColor;
}