#header {
  z-index: 100;
  position: absolute;
  top: 0;
  top: constant(safe-area-inset-top); /* iOS 11.0 */
  top: env(safe-area-inset-top); /* iOS 12 */
  left: 0;
  width: 100%;
  background: $app_header_bg;
  text-align: center;

  &.sticky {
    position: fixed;
    box-shadow: 0 2px 1px 0 rgba(194, 194, 194, 0.3);
    #zorganders-app-logo {
      display: none;
    }
  }

  img {
    width: 60%;
    margin: 5px 0;
  }
}

.navigation-main {
  font-family: 'Kelson-Regular';
  font-size: 14px;
  text-transform: uppercase;
}

#hide-top-notch {
  top: 0;
  height: constant(safe-area-inset-top); /* iOS 11.0 */
  height: env(safe-area-inset-top); /* iOS 12 */
  background: #FFF;
  width: 100%;
  position: fixed;
}

#hide-bottom-notch {
  bottom: 0;
  height: constant(safe-area-inset-bottom); /* iOS 11.0 */
  height: env(safe-area-inset-bottom); /* iOS 12 */
  background: #FFF;
  width: 100%;
  position: fixed;
}