.navigation-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  li {
    flex: 1;
    margin: 0;
    padding: 0;
  }

  a, span {
    display: block;
    font-weight: 600;
    text-decoration: none;
  }

  a {
    border-color: #ececec;
    color: #383838;
  }
}

.navigation-menu--main {
  flex: 1;
  font-size: 16px;

  //noinspection CssOptimizeSimilarProperties
  a, span {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 10px 0;
  }

  span {
    border-color: green;
    color: green;
  }
}

.navigation-menu--sub {
  font-size: 10px;

  li {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center
  }

  //noinspection CssOptimizeSimilarProperties
  a, span {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 5px 10px;
    margin: 0 5px;
  }

  span {
    background: green;
    border-color: green;
    color: #FFFFFF;
  }
}