$theme-name: 'app-theme--green';
$primaryColor: #01772d;
$secondaryColor: #b5d5c0;
$textColor: #0a0a0a;
$borderColor: #e6e6e6 ;

.#{$theme-name}{
  @import "components/all";

  .report-item .details .category {
    color: #333;
  }
}
