$theme-name: 'app-theme--dark-green';
$primaryColor: #275823;
$secondaryColor: #8ba393;
$textColor: #0a0a0a;
$borderColor: #e6e6e6;

.#{$theme-name}{
  @import "components/all";

  .article-item .details .category {
    color: #333;
  }
}