$theme-name: 'app-theme--light-green';
$primaryColor: #91c034;
$secondaryColor: #deecbc;
$textColor: #0a0a0a;
$borderColor: #e6e6e6;

.#{$theme-name}{
  @import "components/all";

  .article-item .details .category {
    color: #333;
  }
}
