@import "mixins/flexbox";

$app_header_bg: #FFFFFF;

/** iPhone X fix */
body {
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}

//noinspection CssOptimizeSimilarProperties
#zorganders-app-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  height: 100px;
}


body {
  font-family: 'Lato-Light';
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@import "./components/all";
@import "./containers/all";
@import "./routes/all";

// APPLY the themes.
@import "theme/all";