@font-face {
  font-family: 'Lato-Light';
  src:
          url('../fonts/Lato-Light.woff') format('woff'),
          url('../fonts/Lato-Light.ttf')  format('truetype'),
          url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kelson-Regular';
  src:
          url('../fonts/Kelson-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Kelson-Regular.otf')  format('opentype'),
          url('../fonts/Kelson-Regular.woff') format('woff'),
          url('../fonts/Kelson-Regular.ttf')  format('truetype'),
          url('../fonts/Kelson-Regular.svg#Kelson-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
