.spinner-wrapper {
  height: 50px;
}

.spinner {
  margin: 25px auto 0;
  text-align: center;
  width: 70px;
}

.spinner > div {
  animation: spinner-debounce-delay 1.4s infinite ease-in-out both;
  -webkit-animation: spinner-debounce-delay 1.4s infinite ease-in-out both;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  height: 18px;
  width: 18px;
}

.spinner .bounce1 {
  background-color: #91c034;
  animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
}

.spinner .bounce2 {
  background-color: #01772d;
  animation-delay: -0.16s;
  -webkit-animation-delay: -0.16s;
}

.spinner .bounce3 {
  background-color: #275823;
}

@-webkit-keyframes spinner-debounce-delay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes spinner-debounce-delay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}