<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block headScripts %}{% endblock %}
        <meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, viewport-fit=cover">
    </head>
    <body>
        {% block bodyContent %}{% endblock %}
        {% block bodyScripts %}{% endblock %}
    </body>
</html>