<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, viewport-fit=cover">
</head>
<body>


    <h1>Scraper</h1>
    <hr/>

    <div id="root"></div>


    {% block bodyScripts %}
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>
        <script src="{{ asset('build/scraper.js') }}"></script>
    {% endblock %}

</body>
</html>